.hero-foto{
  border: 1rem solid var(--purple);
  border-radius: 50%;
}

.hero-title{
  font-size: 2rem;
  font-weight: bold;
}
.hero-subtitle{
  font-size: 1.5rem;
}
.btn-custom{
  background-color: var(--purple);
  font-weight: bold;
  border-radius: 4rem;
  margin: 1rem auto;
  width: 10rem;
}

.btn-custom:hover{
  background-color: var(--white);
  color: var(--purple);
  border-radius: 4rem;
  margin: 1rem auto;
}
@media (min-width:768px){

.hero-title{
  font-weight: bold;
  text-align: start;
}
.hero-subtitle{
  text-align: start;
}
.hero-text{
  text-align: start;
}
.btn-custom{
  margin: 0;
}

}
