#contacts{
  max-width: 90%;
  margin: 2rem auto;
}
.contact-title{
text-align: center;
margin: 4rem 0 2rem;
font-size: 2rem;
line-height: 2.5rem;
font-weight: bold;
}

.formulario-imagen{
  display: none;
}
.form{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: solid .3rem blueviolet;
  padding: 1rem 2rem;
  border-radius: 20px;
}
label{
  margin-top: .8rem;
}
input, textarea{
  margin: .5rem .5rem 1rem 0 ;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 1rem;
  resize: none;
  font-family: sans-serif;
  font-weight: bold;
  font-size: .8rem;
}
textarea{
  height: 15vh;
}
.form-name, .form-email, .form-message{
  background-color: #3b1f3d;
}

span{
  font-weight: bold;
}

.form-button{
border: none;
background-color: #85479b;
color: white;
border-radius: 20px;
padding: 1rem;
width: 100%;
cursor: pointer;
transition: all .8s;
margin-bottom: 0;
font-weight: bold;
}
.formulario-boton:hover{
background-color: white;
color: #85479b;
}
.formulario-boton:disabled{
  background-color: gray;
  color:white
}
.formulario-boton:hover:disabled{
  background-color: gray;
  color: white;
  cursor: default;
  }

.contact-logos{
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}
.contact-logos > a{
  width: fit-content;
  height: fit-content;
  margin: 0 .5rem;
  background-color: var(--purple);
  padding: .5rem;
  border-radius: .5rem;
}

.contact-logos > a:hover{
  background-color: white;
}

.contact-logos a> i{
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.contact-logos a:hover i{
  color: #85479b;
}

form p{
  margin: 0 0 1rem 0;
  height: 1.1rem;
  font-size: .8rem;
  color: rgb(230, 128, 128);

}
.desactivado{
  display: none;
}
.modal-container{
  display: flex;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.64);
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.contacto-modal{
  border: .5rem solid blueviolet;
  border-radius: 1rem ;
  min-height: 20vh;
  min-width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: #170C18 !important;
}
.contacto-modal-agradecimiento{
  font-size: 1.3rem;
  margin:  0 0 .8rem 0;
}

@media (min-width: 420px){
  .section-title{
    font-size: 2.5rem;
    }
    .contacto-logos a{
      width: 2.5rem;
    }
}
@media screen and (min-width: 768px){
  .form-container{
    width: 70%;
    margin: 0 auto;
  }
  .contact-title{
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 4rem;
    }
    .contacto-logos a{
      width: 3rem;
    }
    .contacto-logos a>svg{
      width: 2rem;
      height: 2rem;
    }
}

@media (min-width: 992px){
  .contact-title{
    font-size: 4rem;
    line-height: 4.5rem;
    margin-top: 0;
    }
  .contacto-contenedor{
    margin: 3rem auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }
  .form{
    width: 40%;
    margin: 0;
  }
  .contenedor-fondo-imagen{
    height: 50%;
    background-color: #59256c;
    border-radius: 1rem;
  }
  .contenedor-imagen-contacto{
    height: 50%;
    background-color: #85479b;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 15deg;
    box-shadow: 5px 5px 15px black;
    transition: all .5s;
    border: 8px solid white;
  }
  .contenedor-imagen-contacto:hover{
    rotate: 0deg;
  }
  .formulario-imagen{
    display: block;
    width: 20rem;
    object-fit: contain;
    border-radius: 1rem;
  }
  .contact-logos{
    margin: 3rem auto;
  }
}
