.aboutMe-title{
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}
.aboutMe-title span{
  color: rgb(158, 4, 212);
}
.aboutMe-text{
  line-height: 1.5rem;
}


@media screen and (min-width: 768px){
  .aboutMe-image{
    rotate: 90deg;
  }
  .aboutMe-title{
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .aboutMe-text{
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 992px){
  .aboutMe-title{
    font-size: 4rem;
    line-height: 4.5rem;
    margin-bottom: 2rem;
  }
  .aboutMe-text{
    width: 100%;
    font-size: 1.7rem;
    line-height: 2rem;
  }
  @media screen and (min-width: 1900px){
    .aboutMe-text{
      width: 100%;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}
