.aboutMe-contenedor{
  color: white;
  margin: 2rem 0;
}
.aboutMe-info-contenedor{
  padding: 0 1.8rem;
}
.aboutMe-info-titulo{
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.aboutMe-info-titulo span{
  color: rgb(158, 4, 212);
}
.aboutMe-info-texto{
  font-size: 1.3rem;
  line-height: 1.5rem;
}
.aboutMe-foto-contenedor{
  display: none;
}

@media screen and (min-width: 420px){
  .aboutMe-info-titulo{
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .aboutMe-info-texto{
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 750px){
  .aboutMe-info-titulo{
    font-size: 5rem;
    line-height: 5.5rem;
  }
  .aboutMe-info-texto{
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media screen and (min-width: 1000px){
  .aboutMe-contenedor{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  .aboutMe-info-contenedor{
  width: 80%;
  padding: 0 1.8rem;
  }
  .aboutMe-info-titulo{
    font-size: 4rem;
    line-height: 4.5rem;
    margin-bottom: 2rem;
  }
  .aboutMe-info-texto{
    width: 100%;
    font-size: 1.7rem;
    line-height: 2rem;
  }
  .aboutMe-foto-contenedor{
    display: flex;
    align-items: center;
    width: 70%;
  }
  .aboutMe-foto-foto{
    rotate: 90deg;
  }
  @media screen and (min-width: 1900px){
    .aboutMe-info-texto{
      width: 100%;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}
