.cuadrado-amarillo{
fill: #85479b;
transition: all .5s
}

.javascript-logo:hover .cuadrado-amarillo{
fill: #F7DF1E;
}
.js{
  fill: #170C18;
  transition: all .5s
}
.modal-svg > .cuadrado-amarillo{
  fill: #F7DF1E;
  cursor: default;
}
.modal-svg > .js{
  cursor: default;
}
