.header{
  width: 100%;
  background-color: blueviolet;
  color: white;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  top: 0;
  z-index: 2;
  user-select: none;
}
.header-button{
  cursor: pointer;
  display: none;
}

.header-nav{
  color: white;
}

.header-ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.header-li{
  margin: 0 .8rem;
  font-weight: bold;
}
.header-li:hover{
  background-color: white;
  color: blueviolet;
  border-radius: .3rem;
}
.header-li a{
  padding: .5rem 1.2rem;
}





@media (max-width:480px) {
  .header-button{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding: 0;
  }
  .header-button span{
    border-radius: .5rem;
    background-color: white;
    width: 3rem;
    height: .5rem;
    margin: .3rem 0;
  }
  .header-button .top-line-unclicked{ 
    transition: ease-out .5s;    
  }
  .header-button .top-line-clicked{ 
    transform: translateY(.95rem) rotate(-45deg);
    transition: ease-out .5s;
    width: 3.5rem;
    margin: 0;
  }
  .header-button .middle-line-unclicked{ 
    transition: ease-out .5s;
  }
  .header-button .middle-line-clicked{ 
    transform: scale(.01);
    transition: ease-out .5s;
  }
  .header-button .bottom-line-unclicked{
    transition: ease-out .5s;
  }
  .header-button .bottom-line-clicked{ 
    transform: translateY(-.95rem) rotate(45deg);
    width: 3.5rem;
    transition: ease-out .5s;
  }

  .header-nav{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
  }
  .header-nav.active{
    opacity: 1;
    height: 40vh;
  }
  .header-ul{
    justify-content: center;
    align-items: center;
    height: 30vh;
    flex-direction: column;
  }
  .header-li{
    margin: .5rem 0;
  }


}