.path1{
  fill: #85479b;
}
.path2{
  fill: #85479b;
}
.path3{
  fill: #170C18;
}

.path4{
  fill: #170C18;
}

.postgresql-logo:hover .path3{
  fill: white;
}
.postgresql-logo:hover .path4{
  fill: white;
}
.postgresql-logo:hover .path1{
  fill: black;
}
.postgresql-logo:hover .path2{
  fill: #336791;
}
.modal-svg .path3{
  fill: white;
  cursor: default;
}
.modal-svg .path1{
  fill: black;
  cursor: default;
}

.modal-svg .path4{
  fill: white;
  cursor: default;
}
.modal-svg .path2{
  fill: #336791;
  cursor: default;
}
